.wrapper{
  padding: 86px 38px 0 34px;

  .order-number{
    display: flex;
    justify-content: center;
    background: #F0F0F0;
    height: 60px;
    align-items: center;
    font-size: 36px;
  }

}
